html {
    box-sizing: border-box;
   
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Chicle', cursive;
    font-size:120%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    /*transform: rotateY(180deg);
    transition:transform .5s ease;*/
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom:10px;
    display:flex;
    justify-content:space-between;
}


.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0px 5px 0px 0px;;
    color: gold;
    
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    cursor: pointer;
}

.modal { 
    display: none;
    padding-top: 150px;
    z-index: 1;
    width: 50%;
    height: 50%;
    background-color: #fefefe;
    height:300px;
    position: absolute;
    top: 50%;
    left: 25%;;
    animation-name: animatetop;
    animation-duration: 0.8s
}


.final-message {
    background: #fff;
    margin:auto;
    width: 80%;;
    font-family: 'Chicle', cursive;
    font-size:120%;
    text-align:center;
    position:relative;
    top:-90px;
   
}
.play-again {
  background-color: #8e0af7;
  border: 2px solid #eee;
  width: 50%;
  margin-left:25%;
  border: none;
  color: white;
  font-size: 100%;
  font-family: "Montserrat";
  padding: 1.5em;
  background-repeat: no-repeat;
  outline: none;
  font-weight: 300;
  position: relative;
  bottom:70px;

}

.play-again span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.play-again span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.play-again:hover span {
  padding-right: 25px;
}

.play-again:hover span:after {
  opacity: 1;
  right: 0;
}


.final-rating li {
  text-align: center;
  position: relative;
  top: -100px; 
  left:25%;
  color: gold;
  font-size: 150%;
  list-style-type: none;
  padding: 10px;
  display: inline;  
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}